*~
Makefile.in
Makefile
gtk-doc.make
aclocal.m4
autom4te.cache
m4
configure
config.guess
config.sub
config.log
config.cache
ltconfig
ltmain.sh
libtool
config.status
stamp-h*
gsf-config.h.in
gsf-config.h
libgsf-1.pc
libgsf-win32-1.pc
libgsf-zip
compile
depcomp
install-sh
missing
mkinstalldirs
build
build-stamp
config-stamp
ID
.*.sw*
INSTALL
py-compile
libgsf-gvfs-1.pc
test-driver
ABOUT-NLS
config.rpath
