Makefile
Makefile.in
.*.sw*
*.o
*~
.deps
.libs
ID
test-bzip
test-cat-zip
test-cp
test-cp-msole
test-cp-zip
test-dump-msole
test-gio
test-gzip1
test-gzip2
test-http
test-input1
test-ls-zip
test-msole-printf
test-msole1
test-msole2
test-msvba
test-msvba-zip
test-out-bzip
test-out-gzip
test-out-gzip1
test-out-gzip2
test-out-printf
test-outmem-printf
test-restore-msole
test-textline
test-xml
test-zip-out
test-zip-out-subdirs
test-zip1
test-zip2

# Test suite files
test-suite.log
*.pl.log
*.pl.trs
