Makefile
Makefile.in
tmpl
html
xml
gsf.args
gsf.hierarchy
gsf.signals
gsf-decl.txt
gsf-decl-list.txt
gsf-undeclared.txt
gsf-undocumented.txt
gsf-unused.txt
gsf-scan.c
gsf.interfaces
gsf.prerequisites
version.xml
*.stamp
*.lo
*.o
.libs
*.bak
