Source: libgsf
Section: libs
Priority: optional
Maintainer: J.H.M. Dassen (Ray) <jdassen@debian.org>
Build-Depends: debhelper (>> 3.0.0), gtk-doc-tools,
 libglib2.0-dev, libxml2-dev (>= 2.4.16-1),
 libbonobo2-dev, libgnomevfs2-dev (>= 2.0.2-7.1), libbz2-dev
Standards-Version: 3.5.10

Package: libgsf-gnome-1-dev
Section: devel
Architecture: any
Depends: libgsf-1-dev, libgsf-gnome-1 (= ${Source-Version})
Description: Structured File Library - development files for GNOME
 This package contains the development files used in building applications
 that use the GNOME Structured File Library.
 .
 The GNOME Structured File Library library aims to provide an efficient
 extensible I/O abstraction for dealing with different structured file
 formats. It is actively being developed and its API is still likely to
 undergo significant changes (in particular, extensions).
 .
 This package supports the use of Bonobo, GNOME's CORBA-based component
 architecture and of GNOME-VFS, the GNOME virtual file-system.

Package: libgsf-gnome-1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Structured File Library - runtime version for GNOME
 The GNOME Structured File Library library aims to provide an efficient
 extensible I/O abstraction for dealing with different structured file
 formats.
 .
 This version of libgsf makes use of Bonobo, GNOME's CORBA-based component
 architecture and of GNOME-VFS, the GNOME virtual file-system.

Package: libgsf-1-dev
Section: devel
Architecture: any
Depends: libgsf-1 (= ${Source-Version}), libbz2-dev
Description: Structured File Library - development files (basic version)
 This package contains the development files used in building applications
 that use the GNOME Structured File Library.
 .
 The GNOME Structured File Library library aims to provide an efficient
 extensible I/O abstraction for dealing with different structured file
 formats. It is actively being developed and its API is still likely to
 undergo significant changes (in particular, extensions).
 .
 This is the basic development package for the GNOME Structured File library.
 It is not GNOME-specific and thus does not depend on GNOME libraries. 
 For GNOME-specific extensions, use libgsf-gnome-1-dev.

Package: libgsf-1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: Structured File Library - runtime version
 The GNOME Structured File Library library aims to provide an efficient
 extensible I/O abstraction for dealing with different structured file
 formats.
 .
 This is the basic runtime version of libgsf. It does not provide
 GNOME-specific extensions.
