Source: libgsf
Section: libs
Priority: optional
Maintainer: J.H.M. Dassen (Ray) <jdassen@debian.org>
Build-Depends: debhelper (>= 7.0.0), dh-buildinfo, hardening-includes,
 gtk-doc-tools (>= 1.2-1.2), 
 libglib2.0-dev (>= 2.16.1), libglib2.0-doc, libxml2-dev (>= 2.6.10),
 libgtk2.0-dev, libbz2-dev, zlib1g-dev,
 gobject-introspection, libgirepository1.0-dev
Standards-Version: 3.9.4

Package: libgsf-1-114-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libgsf-1-114 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Structured File Library - debugging files (basic version)
 This package contains the files for debugging (applications that use the)
 the core parts of the GNOME Structured File Library.

Package: libgsf-1-dev
Section: libdevel
Architecture: any
Depends: libgsf-1-114 (= ${binary:Version}), gir1.2-gsf-1 (= ${binary:Version}), libglib2.0-dev (>= 2.16.1), libxml2-dev (>= 2.6.10-1), libbz2-dev, ${misc:Depends}
Conflicts: gir1.2-libgsf-1
Replaces: libgsf-gnome-1-dev (<= 1.14.8-1), gir1.2-libgsf-1
Recommends: pkg-config
Description: Structured File Library - development files
 This package contains the development files used in building applications
 that use the GNOME Structured File Library.
 .
 The GNOME Structured File Library aims to provide an efficient
 extensible I/O abstraction for dealing with different structured file
 formats. It is actively being developed and its API is still likely to
 undergo significant changes (in particular, extensions).

Package: gir1.2-gsf-1
Section: introspection
Architecture: any
Conflicts: gir1.2-libgsf-1
Replaces: gir1.2-libgsf-1
Depends: ${gir:Depends}, ${misc:Depends}
Description: GObject introspection data for the Structured File Library
 This package contains introspection data for the Structured File Library.
 .
 It can be used by packages using the GIRepository format to generate
 dynamic bindings.

Package: libgsf-1-114
Section: libs
Architecture: any
Depends: libgsf-1-common (>= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Conflicts: gnumeric (<< 1.4.4)
Description: Structured File Library - runtime version
 The GNOME Structured File Library aims to provide an efficient
 extensible I/O abstraction for dealing with different structured file
 formats.

Package: libgsf-1-common
Section: libs
Architecture: all
Depends: ${misc:Depends}
Replaces: libgsf-1 (<= 1.12.3-4)
Description: Structured File Library - common files
 The GNOME Structured File Library aims to provide an efficient
 extensible I/O abstraction for dealing with different structured file
 formats.
 .
 These are the architecture independent files that are part of libgsf,
 like translations of messages.

Package: libgsf-bin
Section: gnome
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: imagemagick
Replaces: libgsf-1 (<= 1.12.3-3), libgsf-gnome-1 (<= 1.12.3-4)
Description: Structured File Library - programs
 The GNOME Structured File Library aims to provide an efficient
 extensible I/O abstraction for dealing with different structured file
 formats.
 .
 These are the programs that are shipped as part of libgsf. They include
 a thumbnail generator, a tar-like archiver application and a VBA macro
 extractor.
